<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
    <div class="row">
        <div class="col-lg-5 text-center">
          <img class="member-img2" src="{{ site.baseurl }}{{ section.image }}" alt="{{ section.user }}">
          <br>
          <hr class="divider my-4">
          <p class="text-secondary"><strong>{{ section.user }}</strong></p>
        </div>
        <div class="col-lg-7">
          <div class="alert alert-info" role="alert">
            <p class="text-secondary">{{ section.summary }}</p>
         </div>
        </div>
      </div>
</section>