<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      {% for post in site.users %}
        <div class="col-lg-3 col-sm-6 text-center">
          <div class="member-box">
            <img class="fa fa-4x text-primary" src="{{ post.image }}" alt="{{ post.title }}">
            <h3 class="h4 mb-2">{{ post.user }}</h3>
            <!--
            <p class="text-white-50 mb-0">{{ member.text }}</p>
            -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ post.id_ }}"> Leer más</button>
            
          </div>
        </div>
 
        <!-- Modal-->
        <div class="modal fade" id="{{ post.id_ }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">

              <!--Modal Header-->
              <div class="modal-header border-0">
                <!--
                  <h5 class="modal-title" id="exampleModalLongTitle">Resumen</h5>
                -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <!--content-->
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-5 text-center">
                    <img class="member-img" src="{{ post.image }}" alt="{{ post.user }}">
                    <br>
                    <hr class="divider my-4">
                    <p class="text-secondary"><strong>{{ post.user }}</strong></p>
                  </div>
                  <div class="col-lg-7">
                    <div class="alert alert-info" role="alert">
                      <p class="text-secondary">{{ post.summary }}</p>
                    <!--
                      <p class="text-secondary"><strong>Contacto:</strong></p>
                      <p class="text-secondary"><i class="fa fa-envelope"></i> {{ post.correo}}</p>
                    -->
                      <a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-outline-info">Ver más</button></a>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              <i class="fa fa-building" aria-hidden="true"></i>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
              -->
            </div>
          </div>
        </div>
 

      {% endfor %}
    </div>
  </div>
</section>
