.member-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
    }
}

.member-img
{
    width: 60%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;   
}

.member-img2
{
    width: 50%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;   
}


@media (min-width: 576px) {
    .member-img2
    {
        height: 50%;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .member-img2
    {
        height: 80%;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .member-img2
    {
        height: 280px;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .member-img2
    {
        height: 350px;
        width: 50%;
    }
    
}